version: '3'

services:
  
  client:
    build:
      context: ./client
    ports:
      - 8000:8000    
    depends_on:
      - server

  server:
    build:
      context: ./server
    ports:
      - 3000:3000   
